<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.guardblade" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>格擋之刃</name>
    <description>三檔位格擋動作遊戲</description>
    <author email="dev@example.com">Dev</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
